{% extends 'blogs/base.html' %}

{% block header %}
  <h1>Blog posts:</h1>
{% endblock header %}

{% block content %}

  <p>
    <a href="{% url 'blogs:add_post' %}">(Add new post)</a>
  </p>
  
  {% for blog_post in blog_posts %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ blog_post.title }}
          <small>
            {{ blog_post.date_added|date:'M d, Y H:i' }}
            <a href="{% url 'blogs:edit_post' blog_post.id %}">(edit post)</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        {{ blog_post.text|linebreaks }}
      </div>
    </div> <!-- panel -->
  {% empty %}
    There are no blog posts
  {% endfor %}

{% endblock content %}
